* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.navbar {
    background-color: #ff7300; 
}
.navbar a {
    color: white !important;
}
.navbar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.color-btn{
    background-color: #ff7300; 
    color: white;
}
#listaUsuarios div {
    opacity: 0;
    transition: opacity 1s ease-in;
}

#listaUsuarios div.visible {
    opacity: 1;
}
footer {
    background-color: #ff7300; 
    color: white;
    margin-top: 35px;
    padding: 20px 0;
    text-align: center;
}
.content {
    flex: 1;
    padding: 20px;
}  
